.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 3em;
  color: black;
  --header-dark-blue: rgb(21, 127, 251);
  -webkit-box-shadow: 0px 8px 13px 0px rgba(179,179,179,1);
  -moz-box-shadow: 0px 8px 13px 0px rgba(179,179,179,1);
  box-shadow: 0px 8px 13px 0px rgba(179,179,179,1);
}

.App-link {
  color: #09d3ac;
}

.App-header .title {
  margin: 1em;
  color: var(--header-dark-blue);
  font-family: cursive, sans-serif; /* TODO: Determine font family */
  font-weight: bold;
}

.App-header button {
  border: none;
  background-color: var(--header-dark-blue);
  border-radius: 20px;
  text-transform: uppercase;
  padding: 0px 40px;
  font-size: 0.8em;
  line-height: 2em;
  margin-left: 1em;
  color: white;
}